.NAMA {
  width: 100%;
  height: 520px;
  display: flex;
  text-align: start;
  background-image: url(image/FOTO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: solid 10px #256f56;
}

.KIRI {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.KANAN {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-left: solid 10px #256f56;
}

.GABUNG {
  display: flex;
  background-image: url(image/PUTIH.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ABC {
  height: 40%;
  padding: 30px;
  font-size: large;
}

.BCA {
  padding: 30px;
}

.NAMA h1 {
  margin: 70px;
  font-size: 100px;
}

.TENTANG {
  height: 20%;
}

.KEMAMPUAN {
  height: 100%;
}

p {
  color: #8f151c;
}

h1 {
  color: #8f151c;
}

body {
  font-family: "Montserrat";
}

.KEMAMPUAN {
  width: 100%;
}

.progress-bar {
  background-color: #256f56;
  color: white;
  text-align: right;
  padding: 5px;
  width: 0;
  transition: width 1s ease-in-out;
}

.BORDER {
  border: SOLID 7px #256f56;
}
